<h1>Boards Index</h1>

<%= link_to 'Add Board', new_board_path %>
<br />
<% @boards.each do |board| %>
  <%= board.title %>
  <%= link_to 'View', board_path(board) %>
  <%= link_to 'Edit', edit_board_path(board) %>
  <%= link_to 'Delete', board_path(board), {method: :delete} %>
  <br />
<% end %>
